.row-items {
    justify-content: center;
    align-items: center;
    height: 150px; 
    .col-biss {
        background-color: #80d8ff;
    }
    .counts-item-business i {
        color: #80d8ff;
    }
    
    .col-down {
        background-color: #82b1ff;
    }
    .counts-item-download i {
        color: #82b1ff;
    }
    
    .col-install {
        background-color: #b388ff;
    }
    .counts-item-install i {
        color: #b388ff;
    }
    
    .col-users {
        background-color: #ea80fc;
    }
    .counts-item-users i {
        color: #ea80fc;
    }

    }   

}