.container-fluid-header {
  background: url(../resource/promo-bg.jpg) center center/cover no-repeat;
  min-height: 80vh;
  padding: 50px 0;

  .navbar-nav {
    margin: auto;
  }

  .nav-item {
    padding-right: 25px;

    .nav-link {
      color: $textLight;
      font-weight: 600;
      transition: color .2s linear;

      &:hover {
        color: #061e37;
      }
    }
  }

  

  .btn {
    color: $textLight;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background: none;
    transition: color .2s linear;
    font-size: 14px;

    &:hover {
      color: #061e37;
      border: 1px solid #061e37;
    } 
  }

  .container-promo {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;


    .promo-text {
      .promo-title {
        color: $textLight;
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
        text-transform: uppercase;
      }

      .promo-descr {
        color: $textLight;
        font-size: 18px;
        line-height: 35px;
        opacity: .8;
      }

      .promo-btns {
        .promo-btn {
          padding: 22px 43px;
          border-radius: 5px;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          background: #fff;
          text-transform: uppercase;
          font-weight: 700;
          color: #061e37;
          border: none;
          margin: 30px 20px 30px 0;
          transition: linear .2s;

          &:hover {
            background: #061e37;
            color: #fff;
          }
        }
      }
    }


    .promo-video {
      position: relative;
      display: flex;

      .embed-responsive-item {
        border-radius: 5px;
        box-shadow: 0 5px 5px rgba(20, 20, 20, 0.4);
        object-fit: cover;
        width: 100%;
      }

      .promo-play {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 0;
        background: transparent;
        position: absolute;

        &::before {
          content: url(../resource/play-solid.svg);
          display: block;
          width: 50px;
          height: 50px;
          background: #061e37;
          box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
          border-radius: 5px;
          padding: 16px 17px;
          margin-bottom: 14px;
          transition: all .3s;
        }

        &::after {
          content: 'Watch the video';
          color: #061e37;
          font-size: 12px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }

        &:hover::before {
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        }
      }
    }
  }
}

