.modal-header {
    border-bottom: none;
    
}

.btn-primary-modal {
    color: #000;
    background-color: #21ebbf;
    border-color: #21ebbf;
}
.btn-primary-modal:hover {
    background-color: #19b391;;
}