.our-team {
    padding: 100px 0 90px;

    .title {
        color: #061e37;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
    }

    .descr {
        color: #b0bec5;
        line-height: 25px;
        text-align: center;        
        margin: 24px auto 0 auto;
    }

    .our-team-content {        
        margin-top: 90px;
    }    
}