.title {
    color: #061e37;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.subtitle {
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;            
}
.descr {
    color: #b0bec5;
    line-height: 25px;
    text-align: center;            
    margin: 24px auto 0 auto;
    width: 75%;
}